
.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}
  
.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}
  
.page-exit {
    opacity: 1;
    transform: scale(1);
}
  
.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.list-simple {
    list-style: none;
}

.form-control.block {
    padding: 1.6em 1em;
}

.show-hide.block {
    top:  60px;
}

.login-card.block {
    width: auto;
    background: url('../images/login/login_bg.jpg');
}

.login-main.block {
    width: 90%;
}

.float-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.float-button span {
    margin-left: -5px;
    margin-bottom: -7px;
}

.btn-hero {
    background: #2b2b2b!important;
    color: #ffff;
    border-radius: 0px;
    padding: 1em 1.5em;
    border-color: #2b2b2b!important;
}

.btn-hero:disabled {
    background: #2b2b2b!important;
    color: #ffff;
    border-color: #2b2b2b!important;
}

.btn-hero:hover {
    background: #2b2b2b!important;
    color: #ffff;
    border-color: #2b2b2b!important;
}

.input-hero {
    background-color: rgba(0, 0, 0, 0.01)!important;
    color: #263238;
}

.link-hero {
    color: #e91e63;
}

.link-hero:hover {
    color: #e91e63;
}

.container-hidden {
    overflow-x:hidden;
}