*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* section characteristic */


.section-title{
    text-align: center;
    color: #00abff;
    font-size: 3.4rem;
}

.content-characteristic{
    width: 80%;
    margin: 30px auto;;
}

.cards{
    width: 80%;
    margin: auto;
    display: flex;
}

.cards img{
    display: flex;
    margin: 70px auto;
    
}
.cards h4{
    text-align: center;
}


.cards p{
    text-align: center;
}